.center {
	text-align: center;
}


.main {
	border : solid gray 2px;
}
.count {
	font-size: 200px;
	margin: 50px;
	color: blue;
	
}

span {
	font-size: 150px;
	color: blue;
	text-align: center;
}
.btn {
	text-align: center;
	
}